<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link id="style" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <title>Story 8 - Abi Fajri</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <span>
            <a class="navbar-brand" href="{% url 'landingpage:index' %}">
                abi<span class="color-2">fajri</span>
            </a>
            <hr class="hr-navbrand">
        </span>
    </nav>
    <br>

    <div class="container">
        <h2 style="text-align: center; font-weight: bold;">Search Books</h2>
        <form id="searchBooks" action="" method="GET">
            {% csrf_token %}
            {{form}}
        </form>
    </div>

    <div class="container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">More</th>
                    </tr>
                </thead>
                <tbody class="body"></tbody>
            </table> 
    </div>

    <hr class="hr-long">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/books.js' %}"></script>
</body>
</html>