<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link id="style" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <title>Story 7 - Abi Fajri</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <span>
            <a class="navbar-brand" href="{% url 'landingpage:index' %}">
                abi<span class="color-2">fajri</span>
            </a>
            <hr class="hr-navbrand">
        </span>
        
        <div id="nav-switch-button">
            <span class="navbar-text">
                Light
            </span>

            <label class="switch">
                <input id="light-switch" type="checkbox">
                <span class="slider round"></span>
            </label>

            <span class="navbar-text">
                Dark
            </span>
        </div>

    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" id="profile">
                <img class="my-pict" src="{% static 'img/my-pict.jpg' %}">
                <br><br>
                <p>
                    Hi <span class="color-2">there!</span>
                    <br>
                    I love to play <span class="color-2">video games</span>,
                    <br>
                    watch <span class="color-2">movies</span>, and <span class="color-2">schleep</span>!
                </p>
            </div>

            <div class="col-sm-1">
                <div class="v-line1"></div>
            </div>

            <div class="col-sm-1">
                <div class="v-line2"></div>
            </div>

            <div class="col-sm-6" id="about">
                <h3 style="font-weight: bold; margin-bottom: 20px;">About me</h3>

                <button class="accordion">Who am I?</button>
                <div class="panel">
                    <p>My name is Abi Fajri Abdillah, a man with a big goal to change the world!</p>
                </div>

                <button class="accordion">What am I doing right now?</button>
                <div class="panel">
                    <p>I'm currently studying at University of Indonesia, and my major is Computer Science.</p>
                </div>

                <button class="accordion">Is there any organization/committee that I joined?</button>
                <div class="panel">
                    <p>Soon to be filled!</p>
                </div>

                <button class="accordion">Is there any achievement I've achieved?</button>
                <div class="panel">
                    <p>None at the moment, but it'll be filled in the near future!</p>
                </div>

                <button class="accordion">What is my favorite things to do?</button>
                <div class="panel">
                    <p>I really love to play video games. Even I want to be a <i>good</i> game designer in the future!
                        My second most favorite is watching movies and sleep. Yes, sleep is good!</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr-long">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
        </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>