html {
    scroll-behavior: smooth;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background-color: ghostwhite;
    letter-spacing: 0.5px;    
    transition: 0.3s;
}

.navbar-brand {
    margin-left: 15%;
    font-size: 150%;
    font-weight: bold;
 }

hr.hr-navbrand {
    margin: -3%;
    margin-left: 15%;
    width: 86%;
    border: 0.4px solid black;
}

.row {
    box-sizing: border-box;
}

#profile {
    padding: 11% 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
 
 #about {
    margin: 3% -7.5%;
    padding: 0px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.col-sm-1 {
    padding: 0 !important;
    margin: 0 !important;
}

.v-line1 {
    border-left: 1px solid black;
    height: 365px;
    margin-top: 20px;
    margin-left: 15%;
}
 
.v-line2 {
    border-left: 1px solid black;
    height: 365px;
    margin-top: 250px;
    margin-left: -75%;
}

hr.hr-long {
    margin: 50px auto 0px auto;
    border: 0.4px solid black;
    width: 80%;
}
 
img.my-pict {
    width: 25%;
    border-radius: 50%;
 }
 
 img.img-contact {
    padding: 0px !important;
    margin: 10px 15px;
    height: 40px;
    width: 40px;
 }
 
 ul.contact {
    margin-left: -50px;
 }
 
 /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4c0c5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: ghostwhite;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #156588;
}

input:focus + .slider {
    box-shadow: 0 0 1px #156588;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#nav-switch-button {
    margin: 0.5% 0 0 auto;
}

.navbar-text {
    color: #156588 !important;
    margin: 0 10px;
    vertical-align: -25%;
}

.accordion {
    letter-spacing: 0.5px;
    font-size: 18px !important;
    font-weight: 600 !important;
    background-color: ghostwhite;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}
  
.active, .accordion:hover {
    color: ghostwhite;
    background-color: #156588;
}
  
.panel {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0 18px;
    background-color: white;
}

.color-2 {
    color: #156588;
}