<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link id="style" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <title>Story 9 - Abi Fajri</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <span>
            <a class="navbar-brand" href="{% url 'landingpage:index' %}">
                abi<span class="color-2">fajri</span>
            </a>
            <hr class="hr-navbrand">
        </span>
    </nav>
    <br><br><br><br><br><br>

    <div class="container">
        {% if user.is_authenticated %}
        <h3 style="text-align: center; font-weight: bold;">
            Hello, {{user.first_name}} {{user.last_name}}!
            <br>
        </h3>
        <br>
        <div style="text-align: center;">
            <small>Logged in at {{request.session.login_timestamp}}</small>
        </div>
        <br>
        <div style="text-align: center;">
            <a class="btn btn-outline-info" href="{% url 'story9:logout' %}">Logout</a>
        </div>
        {% else %}
        <h3 style="text-align: center; font-weight: bold;">
            Please Log In.
            <br>
        </h3>
        <br>
        <div style="text-align: center;">
            <a class="btn btn-outline-info" href="{% url 'story9:login' %}">Login</a>
        </div>
        {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>